/* 
    Document   : chat
    Created on : 17 вер 2012, 19:30:11
    Author     : Eugene
    Description:
        Purpose of the stylesheet follows.
*/

#chat_block {         
    overflow: hidden;
    height: 300px;
    width: 0px;
    padding-left: 20px;
    background: white url(right.jpg) scroll 200 100 repeat-x left top ;
    border: 2px solid #298DCD;
}

#chat_navigation {
    float: left;
}

